body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section1 {
    color: white;
    background-color: #1f2937;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.header {
    display: flex;
    margin-bottom: 80px;
}

.section2 > h2 {
    text-align: center;
}

img.illustration {
    display: flex;
}

.footer {
    flex-grow: 1;
    background-color: #1f2937;
    color: white;
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

div.header-logo {
    display: flex;
    width: 50%;
}

.container1 {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}