body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Section 1 */
.section1 {
    color: white;
    background-color: #1f2937;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.header {
    display: flex;
    margin-bottom: 80px;
}

.section2 > h2 {
    text-align: center;
}

img.illustration {
    display: flex;
}

.footer {
    flex-grow: 1;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    color: #e5e7eb;
    font-size: 18px;
}

div.header-logo {
    display: flex;
    width: 50%;
    font-size: 24px;
    color: #f9faf8;
}

.container1 {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}


.image-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: darkgray;
  color: white;
}

.section1-content {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 20px;
}
.container1 h1 {
  font-size: 48px;  
  font-weight: extra-bold;
  color: #f9faf8;
  margin: 0;
}

.container1 h2 {
    font-size: 18px;
    color: #e5e7eb;
}

.container1 button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 12px;
}
/* Section 2 */

.section2 {
    background-color: #f9faf8;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 50px;
    text-align: center;
}

.illustration-container {
    display: block;
    max-width: 20%;
}

img.illustration {
    border: 5px solid #3882f6;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    height: 175px;
}

h2 {
    margin: 50px 0px;
}

/* Section 3 */

.section3 {
    background-color: #e5e7eb;
    padding: 50px 50px;
}

p.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 36px 50px;
}

p.author {
    text-align: end;
    margin: 16px 50px;
    font-weight: bolder;
}

/* Section 4 */

.section4 {
    display: flex;
    margin: 50px 50px;
    background-color: #3882f6;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 12px;
}

.container4 {
    color: #f9faf8;
}

.action {
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
}

p.click {
    margin: 0;
}

.section4 > button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    border-color: #f9faf8;
    padding: 10px 40px;
}